#cloud-config
hostname: client
manage_etc_hosts: true
fqdn: client.local

users:
  - name: vagrant
    sudo: ALL=(ALL) NOPASSWD:ALL
    shell: /bin/bash
    groups: sudo
    ssh_authorized_keys:
      - CHANGEME_CLE_PUBLIQUE_HOTE
  - name: client
    passwd: CHANGEME_CLIENT_HASH
    lock_passwd: false
    shell: /bin/bash

package_update: true
package_upgrade: false

packages:
  - openssl
  - mosquitto-clients
  - xauth
  - x11-apps
  - curl
  - net-tools

write_files:
  - path: /etc/ssh/sshd_config.d/custom.conf
    content: |
      PasswordAuthentication yes
      PubkeyAuthentication yes
      PermitRootLogin no
      X11Forwarding yes
      X11DisplayOffset 10

runcmd:
  # Configuration SSH client
  - mkdir -p /home/client/.ssh
  - chmod 700 /home/client/.ssh
  - touch /home/client/.ssh/authorized_keys
  - chmod 600 /home/client/.ssh/authorized_keys
  - chown -R client:client /home/client/.ssh
  # Variable DISPLAY pour X11
  - echo "export DISPLAY=localhost:10.0" >> /home/vagrant/.bashrc
  - echo "export DISPLAY=localhost:10.0" >> /home/client/.bashrc
  # Redémarrage SSH avec la nouvelle config
  - systemctl restart sshd

final_message: "== Client MQTT prêt après $UPTIME secondes =="
